{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}

<div class="col-md-3">
</div>
<div class="col-md-6" style="margin-top: 5%">
<h3 style="text-align: center;">Добавить информацию</h3>
<form method="post" action="">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" value="Добавить" class="btn btn-default btn-lg"/>
</form>
</div>
<div class="col-md-3">
</div>
{% endblock %}