{% extends 'base.html' %}
{% block content %}
	<h3>Был отправлен код потверждение на номер {{ phone_num }}</h3>
	<form method="post">
		{% csrf_token %}
		<input type="text" value="Код потверждение" class=""/>
		<input type="hidden" name="{{phone_num}}" required id="{{phone_num}}" maxlength="200" />
		<input type="submit" value="Регистрировать" class="btn btn-default btn-lg"/>
	</form>
{% endblock %} 