{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block content %}
<!-- {% if user.is_authenticated %}
	<div class="col-md-1">
		<a href="/moderator_login" class="btn btn-default">Пройти в панель управление</a>
	</div>
{% endif %} -->
<!-- Header -->
<!-- 	<header id="">
		<h1>БУДЬ В КУРСЕ!</h1>
		<p>“НОВОСТИ” - которые не должны быть отложенными.<br />
		Каждый должен быть оповещен. <a href=""></a></p>
	</header> -->

<!-- Signup Form -->
<!-- 	<form method="post" class="col-md-3">
		{% csrf_token %}
  		<h3 style="color:red">{{ error }}</h3>
		{{form|bootstrap}}
		<input type="submit" value="Регистрация"/>
	</form> -->

<!-- Footer -->
<!-- 	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; vkurse</li><li>Credits: <a href="http://vkurse.kg">www.vkurse.kg</a></li>
		</ul>
	</footer> -->
<body tcap-name="mainman" style="background-image: url('https://i.ytimg.com/vi/2Spi0kVTFR0/maxresdefault.jpg'); background-size: cover;">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" style="height: 500px; background-color: rgba(255, 255, 255, 0.87)">
      <div class="col-md-6">
        <!-- <h2>Мы рады приветсвовать вас на нашой странице!</h2> -->
        <p>Для оформления подписки заполните следующие поля.</p>
<!--         <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
        </p> -->
        <h3 style="color:red">{{ error }}</h3>
        <form method="post" class="col-md-8">
			{% csrf_token %}
			{{form|bootstrap}}
			<input class="btn btn-primary" type="submit" value="Подписаться"/>
		</form>
		</div>
		<img style="margin-top: 10%; margin-left: 5%" src="{% static 'image/logo1.png' %}">
		</div>
<!-- 		<div class="col-md-4">
			<p>Мы рады приветствовать вас нашай странице</p>
		</div> -->
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
</div></body>
{% endblock %}