{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	.table-bordered>tbody>tr>td, 
	.table-bordered>tbody>tr>th, 
	.table-bordered>tfoot>tr>td, 
	.table-bordered>tfoot>tr>th, 
	.table-bordered>thead>tr>td, 
	.table-bordered>thead>tr>th {
    	/*border: 1px solid black;*/
	}
</style>
<div class="col-md-1"></div>
<div class="col-md-10">
<h2 style="text-align: center;">Список новостей</h2>
<a href="/add_info" class="btn btn-default">Добавить</a>
<table class="table" style="" style="margin-top: 5%"> 
	<thead> 
		<tr> 
			<!-- <th>#</th>  -->
			<th>Название новости</th>
			<th>Тела сообщение</th>
			<th>Опубликован</th> 
			<th>Тип</th> 
			<th>Изменить</th> 
			<th>Удалить</th> 
		</tr> 
	</thead> 
	<tbody> 
		{% for moderator in moderators %}
			<tr> 
				<!-- <th scope="row">1</th>  -->
				<td>{{ moderator.news_name }}</td>
				<td>{{ moderator.text }}</td>
				{% if moderator.unpublish == False %}
					<td>Опубликован</td>
				{% elif moderator.unpublish == True %} 
					<td>Не опубликован</td>
				{% endif %}
				<td>{{ moderator.type_choice }}</td>
				<td><a href="/edit_form/{{ moderator.id }}" class="btn btn-primary">Изменить</a></td>
				<td><a href="/deleteInfo/{{ moderator.id }}" class="btn btn-danger">Удалить</a></td>
			</tr>
		{% endfor %}
	</tbody> 
</table>
<div class="col-md-1"></div>
</div>
{% endblock %}