{% extends 'base.html' %}
{% block content %}
<div class="col-md-4"></div>
<div class="col-md-4 login-form col-md-4-table">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="" class="login-input">Имя пользователя / Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label for="" class="login-input">Пароль / Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <input type="submit" class="btn btn-default" value="Вход/Login">
    </form>
</div>
{% endblock %}