{% extends 'base.html' %}
{% block content %}
<body tcap-name="mainman" style="background-image: url('https://i.ytimg.com/vi/2Spi0kVTFR0/maxresdefault.jpg'); background-size: cover;">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" style="height: 500px; background-color: rgba(255, 255, 255, 0.87)">
      <div >
        <!-- <h2>Мы рады приветсвовать вас на нашой странице!</h2> -->
        <p style="text-align: center;">Спасибо за то что подписались на нас! Мы будем вам отправлять срочные новости.</p>
        <p style="text-align: center;"></p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
</div></body>
{% endblock %}